.aplicacion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;

  a {
    text-decoration: none;
    color: white;
  }

  //HOME

  .inicio {
    display: flex;
    flex-direction: column;
    gap: 150px;
    color: black;


    .presentacion {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;

      h1, h2 {
        font-size: 70px;
        font-weight: 800;
        background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        padding-bottom: 6px;
        margin-top: 30px;
      }
    }

    .explicacionServicios {
      display: flex;
      flex-direction: column;
      gap: 40px;
      text-align: center;
    }

    .serviciosOfertados {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .listaServiciosOfertados {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          list-style: none;
        }
      }
    }
  }

  //NAVBAR
  .barraNavegacion {

    display: flex;
    flex-direction: column;

    .subidaBarraNavegacion {
      display: flex;
      align-items: center;
      justify-content: right;
      background-color: white;
      font-size: smaller;

      ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        margin-bottom: 1px;
      }

    }


    .bajadaBarraNavegacion {
      display: flex;
      flex-direction: row;
      background-color: rgb(33, 74, 112);

      .logo {
        display: flex;

        img {
          width: 8rem;
          height: 8rem;
        }
      }

      .links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
        align-items: center;
        gap: 2rem;

        h6 {

          font-size: large;
          font-weight: bold;

        }

      }
    }
  }


  // FOOTER

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: rgb(228, 228, 228);

    .resenia {
      display: block;
      flex-direction: column;
      margin-top: 1.4rem;

      img {
        width: 6rem;
        height: 6rem;
        margin-left: 35%;
        margin-bottom: 0.6rem;
      }

      h6 {
        font-weight: bold;
        text-align: center;
        font-size: small;
      }

    }

    .productosFooter {
      display: flex;
      flex-direction: column;
      margin-top: 1.2rem;

      ul {
        list-style: none;
        text-align: center;

        li {
          margin-top: 0.8rem;
        }

      }

      h5 {
        font-weight: bold;

      }



    }

    .contacto {
      display: flex;
      flex-direction: column;
      margin-top: 1.2rem;

      h5 {
        font-weight: bold;
      }

      ul {
        list-style: none;
        text-align: center;

        li {
          margin-top: 0.8rem;
        }
      }
    }
  }

  //SERVICES

  .servicios {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    .introServicios {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      h2 {
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
      }

      h3 {
        font-weight: bold;
        font-size: medium;
        text-align: center;
      }
    }

    .categoriaServicios {
      display: flex;
      flex-direction: column;
      gap: 3.1rem;
      height: 31.25rem;

      h4 {
        display: flex;
        justify-content: center;
        border-right-style: solid;
        border-right-width: 1px;
        align-items: center;
      }

      h5 {
        display: flex;
        align-items: center;
      }

      .analisisDatos {
        display: flex;
        gap: 3.1rem;
      }

      .gestionDatos {
        display: flex;
        gap: 3.1rem;
      }

      .recoleccionDatos {
        display: flex;
        gap: 3.1rem;
      }
    }
  }


}