.aplicacion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;




  
  //HOME

  .inicio {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: black;

    figcaption {
      font-size: 0.7rem;
      font-weight: 100;
      font-style: italic;
    }

    .presentacion {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;


      h1,
      h2 {
        font-size: 5rem;
        font-weight: 800;
        background-image: linear-gradient(to bottom left, #214a70, #80c0fb);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        padding-bottom: 0.3rem;
        margin-top: 1.9rem;
        text-align: left;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      .explicacionServicios {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        text-align: right;

        .imagenPieExplicacion {
          display: flex;
          flex-direction: column;

          img {
            width: 28rem;
            height: 28rem;
          }

          figcaption {
            margin-top: -2.6rem;
          }
        }

        h2 {
          font-weight: 800;
          font-size: 4.2rem;
          color: rgb(28, 92, 107)
        }
      }

      .primeraCaracteristicaServicios {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;

        .imagenPiePrimeraCaracteristica {
          display: flex;
          flex-direction: column;

          img {
            width: 30rem;
            height: 30rem;

          }

          /* filter: blur(8px);
            -webkit-filter: blur(8px); */

        }

        h2 {
          font-weight: 800;
          font-size: 4.2rem;
          color: rgb(28, 92, 107)
        }
      }
    }

    /* .segundaCaracteristicaServicios {


      #spin::after {
        content: "";
        animation: spin 4s linear infinite;
      }

      @keyframes spin {
        0% {
          content: "Accesible";
          color: rgb(9, 78, 167);
        }

        35% {
          content: "Cómodo";
          color: rgb(0, 165, 124)
        }

        70% {
          content: "Sencillo";
          color: rgb(188, 0, 66)
        }

        100% {
          content: "Accesible";
          color: rgb(9, 78, 167);
        }


      } 

      h2 {
        font-size: 4.2rem;
        font-weight: 700;
        text-align: center;
      }
    } */

    .container {
      display: flex;


      .serviciosOfertados {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        gap: 3.1rem;
        margin-top: -2rem;

        h3 {
          font-size: 4.2rem;
          font-weight: 800;
        }

        .listaServiciosOfertados {
          display: inline-flex;
          flex-direction: row;
          width: auto;
          gap: 1.9rem;
          margin-bottom: 3rem;


          .analisisDatos,
          .limpiezaDatos,
          .recoleccionDatos {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 30rem;
            height: 15.5rem;
            border-style: solid;
            border-width: 1px;
            border-color: lightgray;
            padding: 2.4rem;
            border-radius: 15px;
            gap: 1.3rem;

            h4 {
              font-size: 2.0rem;
              font-weight: 600;
            }

            h5 {
              display: flex;
              font-size: 1.2rem;
              font-weight: 500;
              
            align-items: center;
            }

            #boton {
              display: flex;
              position: absolute;
              bottom: 1.3rem;
              left: 8.8rem;
              justify-content: center;
              align-items: center;
              .linkSingleService {
                text-decoration: none;
                color: white
              }

            }

          }
        }
      }
    }
  }

  //NAVBAR
  .barraNavegacion {

    display: flex;
    flex-direction: column;
    background-color: rgb(33, 74, 112);
    border-bottom-style: solid;
    border-bottom-width: 3px;
  

    a {
      text-decoration: none;
      color: white;
    }

    .subidaBarraNavegacion {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      font-size: smaller;
      border-bottom-style: solid;
      border-bottom-width: 3px;

      ul {
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        list-style: none;
        margin-bottom: 1px;
      }

    }


    .bajadaBarraNavegacion {
      display: flex;
      flex-direction: row;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;


      .logo {
        display: flex;

        img {
          width: 8rem;
          height: 8rem;
        }
      }

      .links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
        align-items: center;
        gap: 2rem;

        h6 {

          font-size: large;
          font-weight: bold;

        }

      }
    }
  }


  // FOOTER

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    background-color: rgb(228, 228, 228);
    padding-top: 3rem;
    padding-bottom: 3rem;

    .resenia {
      display: block;
      flex-direction: column;
      margin-top: 1.4rem;

      img {
        width: 6rem;
        height: 6rem;
        margin-left: 35%;
        margin-bottom: 0.6rem;
      }

      h6 {
        font-weight: bold;
        text-align: center;
        font-size: small;
      }

    }

    .productosFooter {
      display: flex;
      flex-direction: column;
      margin-top: 1.2rem;

      ul {
        list-style: none;
        text-align: center;

        li {
          margin-top: 0.8rem;
        }

      }

      h5 {
        font-weight: bold;

      }
    }

    .contacto {
      display: flex;
      flex-direction: column;
      margin-top: 1.2rem;

      h5 {
        font-weight: bold;
      }

      ul {
        list-style: none;
        text-align: center;

        li {
          margin-top: 0.8rem;
        }
      }
    }
  }

  //SERVICES

  .servicios {
    display: flex;
    flex-direction: column;


    .container {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;


      .introServicios {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 1rem;

        h2 {
          font-weight: 800;
          font-size: 4.2rem;
          text-align: center;
        }

        h3 {
          font-weight: lighter;
          font-size: 1.5rem;
          text-align: center;
        }
      }

      .categoriaServicios {
        display: flex;
        flex-direction: column;
        gap: 3.1rem;
        height: 31.25rem;

        h4 {
          display: flex;
          border-right-style: solid;
          border-right-width: 1px;
          align-items: center;
          text-align: center;
        }

        h5 {
          display: flex;
          align-items: center;
        }

        .analisisDatos {
          display: flex;
          gap: 3.1rem;
        }

        .gestionDatos {
          display: flex;
          gap: 3.1rem;
        }

        .recoleccionDatos {
          display: flex;
          gap: 3.1rem;
        }
      }
    }
  }


}