.aplicacion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  figcaption {
    margin-left: 2rem;
    font-style: italic;
    margin-top: 2rem;

    h6 {
      font-size: 0.8rem;
      font-weight: 100;
    }

  }

  //HOME

  .inicio {
    display: flex;
    flex-direction: column;
    color: black;

    .presentacion {
      display: flex;
      flex-direction: column;
      text-align: center;

      h1 {
        font-size: 4rem;
        font-weight: 800;
        background-image: linear-gradient(to bottom left, #207487, #214a70);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        padding-bottom: 0.3rem;
        margin-top: 2rem;
        text-align: center;
      }

    }

    h2 {
      font-weight: 800;
      font-size: 3rem;
      color: rgb(32, 116, 135);
    }

    img {
      width: 25rem;
      height: 25rem;
    }

    .imagenPieExplicacion {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      text-align: left;
      margin-bottom: 2rem;

    }


    .serviciosOfertados {
      display: inline-flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;

      h3 {
        font-size: 3rem;
        font-weight: 800;
      }

      .listaServiciosOfertados {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 3rem;
        justify-content: center;

        .analisisDatos,
        .limpiezaDatos,
        .recoleccionDatos {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 24rem;
          height: 12rem;
          border-style: solid;
          border-width: 1px;
          border-color: lightgray;
          padding: 2rem;
          border-radius: 15px;

          h4 {
            font-size: 1.8rem;
            font-weight: 800;

          }

          a {
            text-decoration: none;
            color: rgb(32, 116, 135);


            .descripcion {
              display: flex;
              margin-top: 2rem;

              h5 {
                font-size: 1.3rem;
                font-weight: 600;
                align-items: center;
                color: black;
              }

            }
          }

          


        }
      }
    }

    .imagenPiePrimeraCaracteristica {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      text-align: left;
      margin-bottom: 5rem;
    }
  }






  //NAVBAR
  .barraNavegacion {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 74, 112);
    border-bottom-style: solid;
    border-bottom-width: 3px;

    a {
      text-decoration: none;
      color: white;
    }

    .subidaBarraNavegacion {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      font-size: smaller;
      border-bottom-style: solid;
      border-bottom-width: 3px;

      ul {
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        list-style: none;
        margin-bottom: 1px;
      }
    }

    .bajadaBarraNavegacion {
      display: flex;
      flex-direction: row;

      .logo {
        display: flex;

        img {
          width: 8rem;
          height: 8rem;
        }
      }

      .links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
        align-items: center;
        gap: 2rem;

        h6 {
          font-size: large;
          font-weight: bold;
        }
      }
    }
  }

  // FOOTER

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: rgb(228, 228, 228);
    padding-top: 3rem;
    padding-bottom: 3rem;

    .resenia {
      display: block;
      flex-direction: column;
      margin-top: 1.4rem;

      img {
        width: 6rem;
        height: 6rem;
        margin-left: 35%;
        margin-bottom: 0.6rem;
      }

      h6 {
        font-weight: bold;
        text-align: center;
        font-size: small;
      }
    }

    .productosFooter {
      display: flex;
      flex-direction: column;
      margin-top: 1.2rem;

      ul {
        list-style: none;
        text-align: center;

        li {
          margin-top: 0.8rem;
        }
      }

      h5 {
        font-weight: bold;
      }
    }

    .contacto {
      display: flex;
      flex-direction: column;
      margin-top: 1.2rem;

      h5 {
        font-weight: bold;
      }

      ul {
        list-style: none;
        text-align: center;

        li {
          margin-top: 0.8rem;
        }
      }
    }
  }

  //SERVICES

  .servicios {
    display: flex;
    flex-direction: column;

    .container {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      .introServicios {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 1rem;

        h2 {
          font-weight: 800;
          font-size: 4.2rem;
          text-align: center;
        }

        h3 {
          font-weight: lighter;
          font-size: 1.5rem;
          text-align: center;
        }
      }

      .categoriaServicios {
        display: flex;
        flex-direction: column;
        gap: 3.1rem;
        height: 31.25rem;

        h4 {
          display: flex;
          border-right-style: solid;
          border-right-width: 1px;
          align-items: center;
          text-align: center;
        }

        h5 {
          display: flex;
          align-items: center;
        }

        .analisisDatos {
          display: flex;
          gap: 3.1rem;
        }

        .gestionDatos {
          display: flex;
          gap: 3.1rem;
        }

        .recoleccionDatos {
          display: flex;
          gap: 3.1rem;
        }
      }
    }
  }

  //ANALISISDATOS

  .container {
    .analisisDatos {
      display: flex;
      flex-direction: column;
    }

    .inicioEjemplo {
      .qqplotAnalisisDatos {
        display: flex;
        justify-content: center;

        img {
          width: 60rem;
          height: 40rem;
        }
      }
    }

    .geombarAnalisisDatos {
      display: flex;
      justify-content: center;

      img {
        width: 65rem;
        height: 45rem;
      }
    }
  }
}